<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plain Page</title>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Plain Page</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">


                    <div class="x_content">
                        <div class="col-md-12 col-sm-12  ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Utilisateurs</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Settings 1</a>
                                                <a class="dropdown-item" href="#">Settings 2</a>
                                            </div>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content">

                                    <div class="table-responsive">
                                        <table class="table table-striped jambo_table bulk_action">
                                            <thead>
                                            <tr class="headings">

                                                <th class="column-title"> Name </th>

                                                <th class="column-title no-link last"><span class="nobr">Action</span>
                                                </th>

                                                <th class="column-title no-link last"><span class="nobr">Details</span>
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr class="even pointer" th:each="entreprise : ${listEntreprise}">

                                                <td class=" " th:text="${entreprise.name}">Name</td>

                                                <td class=" last" >
                                                    <a style="color:#00F; "th:href="@{'/entreprise/edit/' + ${entreprise.id}}"
                                                       onmouseover="this.style.color='#0F0'"
                                                       onmouseout="this.style.color='#00F'">Edit</a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a th:href="@{'/entreprise/delete/' + ${entreprise.id}}" style="color:#00F;"
                                                       onmouseover="this.style.color='#FF0000'"
                                                       onmouseout="this.style.color='#00F'" >Delete Entreprise</a>

                                                </td>
                                                <td class=" last" > <a th:href="@{'/entreprise/'+${entreprise.id}+'/services'}" style="color:#00F;"
                                                    onmouseover="this.style.color='#FF0000'"
                                                    onmouseout="this.style.color='#00F'"> Services</a>
                                                </td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</body>
</html>
