
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a href="/" ><i class="fa fa-home" ></i> Home </span></a>
            </li>
            <li><a><i class="fa fa-edit"></i> Gestion Utilisateur<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/getAll" >Utilisateurs</a></li>
                    <li><a href="/addUser">Ajouter utilisateur</a></li>
                </ul>
            </li>

            <li><a><i class="fa fa-edit"></i> Gestion Entreprises<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/entreprise/getAll">Entreprises</a></li>
                    <li><a href="/entreprise/createEntreprise">Ajouter Entreprise</a></li>

                </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> Gestion Services<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/service/getAll">Services</a></li>
                    <li><a href="/service/addService/1">Ajouter Service</a></li>

                </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> Gestion Projets<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/projet/getAll">Projets</a></li>

                    <li><a href="/projet/addProjet">Ajouter Projet</a></li>
                    <li><a href="/tache/getAll">List Taches</a></li>
                    <li><a href="/tache/addTache">Ajouter Tache</a></li>



                </ul>
            </li>

            <li><a><i class="fa fa-edit"></i> Gestion Employés<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/employe/getAll">Employés</a></li>
                    <li><a href="/employe/addEmploye">Ajouter Employé</a></li>
                </ul>
            </li>

        </ul>
    </div>


</div>

</html>