<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plain Page</title>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">

        <div role="main">

                <div class="row" >
                    <div class="top_tiles">
                        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                                <div class="count">
                                    <h1 th:text="${total}"> </h1>
                                </div>
                                <h3>Utilisateurs</h3>
                            </div>
                        </div>


                    </div>
                </div>

        </div>

    </div>
</div>
</body>
</html>














