<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plain Page</title>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Plain Page</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">


            <div class="x_content">
                <div class="col-md-12 col-sm-12  ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Projets</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </div>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                                <div class="x_content">
                                    <p>Simple table with project listing with progress and editing options</p>
                                    <div class="table-responsive">

                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                        <tr class="headings">
                                            <th class="column-title">Project Name</th>
                                            <th class="column-title"> Team Members</th>
                                            <th class="column-title">Service</th>
                                            <th class="column-title">Budget</th>
                                            <th class="column-title">Status</th>
                                            <th class="column-title no-link last"><span class="nobr">Edit</span></th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:each="projet : ${listProjet}">
                                            <td class=" " ><div th:text="${projet.name}" ></div></td>
                                            <td class=" " ><div th:each="employe : ${projet.employeList}">
                                                <ul class="list-inline">
                                                    <li style="list-style-type: none;">
                                                    <img src="/images/user.png" class="avatar" alt="Avatar">
                                                    <div class="" th:text="${employe.lastName}"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                            </td>
                                            <td class=" " ><div th:each="service : ${projet.service}"><span th:text="${service.name}"></span></div></td>
                                            <td><div th:text="${projet.budget+' DH'}"></div></td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-xs">Success</button>
                                            </td>
                                            <td class=" last">
                                                <a th:href="@{'/tache/getAll'}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View Task </a>
                                                <a th:href="@{'/projet/edit/' + ${projet.id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                <a  th:href="@{'/projet/delete/' + ${projet.id}}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
